<h4>Ever wondered how much your team meetings cost?</h4>
<!-- <p class="text-muted">Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.</p> -->
<p>
  The Meeting Cost Calculator lets you calculate an estimated cost for meetings, using the standard pay rates used by a
  variety of public sector organizations.
</p>
<p><b>Interested in ways of making your meetings more effective?</b> Take a look at <a
    href="https://18f.gsa.gov/2016/12/14/how-to-run-an-efficient-meeting/">How to run an efficient meeting, from
    18F</a>, the <a href="https://apolitical.co/solution_article/the-public-servants-guide-to-better-meetings/"
    target="_blank">Apolitical Guide to Better Meetings</a>, or the <a href="http://freakonomics.com/podcast/meetings/"
    target="_blank">Freakonomics podcast titled How to Make Meetings Less Terrible</a>.</p>
<p>
  The salary data included here is adapted from <a
    href="https://www.tbs-sct.gc.ca/pubs_pol/hrpubs/coll_agre/rates-taux-eng.asp" target="_blank">published annual pay
    rate sources</a>. You can <a href="https://github.com/meetingcostcalculator/meeting-cost-calculator-data"
    target="_blank">find and contribute to this data on
    GitHub</a>.
</p>
<ul>
  <li>
    Meeting costs are determined by converting annual salaries into hourly rates, then multiplying these against the
    elapsed time.
  </li>
  <li>
    Salary classifications with a range of levels are simplified to minimum, maximum, and median rates. These rates
    (along with optional employee benefit plan and accommodation premium costs) can be
    selected under the gear options menu.
  </li>
</ul>

<p>
  An <a href="http://ottawacivictech.ca/">Ottawa Civic Tech project</a>, built by <a
    href="https://twitter.com/sboots/">Sean Boots</a>. Thanks to Dan, Conor, Corey, David, Miceal, Rick, Mary Beth,
  Gordon, and Brandon for ideas
  and contributions!
</p>
<p><a href="#" data-toggle="collapse" data-target="#navbarHeader">Close this menu</a></p>